* {
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #06294c;
    overflow-x: hidden;
    overflow-y: auto;
}
/*h1 {
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: -5px;
}*/

#ribbon {
    margin-left: 35%;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

#start {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    top: 5%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
    border: 10px solid black;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    z-index: 150;
    text-align: center;
}

#start:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

#start:active {
    -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow: inset 0 0 20px #000000;
}

#start p {
    margin-top: 40%;
    font-size: 2em;
    color: black;
}

#leftside {
    background-color: brown;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: calc(100% + 400px);
    -webkit-transition: 2000ms linear;
    -moz-transition: 2000ms linear;
    -o-transition: 2000ms linear;
    -ms-transition: 2000ms linear;
    transition: 2000ms linear;
    overflow: hidden;
    z-index: 100;
}

.Centerer {
    display: inline-block;
    /*height: */
    
    vertical-align: middle;
}

#rimg {
    margin: 0;
    position: relative;
    top: 360px;
}

#limg {
    margin: 0;
    position: relative;
    top: 507px;
    transform: translate(0, -50%);
    float: right;
}

#rightside {
    background-color: brown;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: calc(100% + 400px);
    -webkit-transition: 2000ms linear;
    -moz-transition: 2000ms linear;
    -o-transition: 2000ms linear;
    -ms-transition: 2000ms linear;
    transition: 2000ms linear;
    overflow: hidden;
    z-index: 100;
}

.page_content {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    width: 600px;
}

header {
    height: auto;
    width: 100%;
}

#banner {
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
    height: auto;
    width: 100%;
}

.page_content {
    background-color: #c7171a;
    border-radius: 15px;
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
    height: auto;
    min-height: 800px;
    margin-top: 10px;
    min-width: 900px;
    max-width: 1400px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 10px;
    width: auto;
    margin-bottom: 10px;
}

.poll_box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 1200px;
    height: auto;
    width: auto;
}

.polldata > p {
    color: white;
    text-align: center;
    font-weight: 900;
    padding: 10px;
}

.canvasVote > canvas {
    -webkit-filter: drop-shadow(5px 5px 5px black);
    filter: drop-shadow(5px 5px 5px black);
}

.canvasVote {
    padding-top: 20px;
}

.tabs {
    position: relative;
    min-height: 200px;
    /* This part sucks */
    
    clear: both;
}

.tab {
    float: left;
}

.tab > label {
    color: white;
    font-weight: 900;
}

.tab label {
    border-top-left-radius: 5px;
    border-top-right-radius: 15px;
    background: #06294c;
    padding: 10px;
    border: 1px solid #06294c;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: 28px;
    left: 0;
    background: #385366;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #06294c;
    height: auto;
    min-height: 600px;
    overflow: auto;
}

[type=radio]:checked ~ label {
    background: #385366;
    border-bottom: 1px solid white;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

.polldata {
    height: auto;
    background-color: #385366;
}